<div class="mt-4">
    <h2>Create New Post</h2>
    <form method="post" action="/news/store">
        <div class="mb-3">
            <label for="nameInput" class="form-label">name</label>
            <textarea class="form-control" id="nameInput" aria-describedby="textHelp" rows="1" name="name"></textarea>
        </div>
        <div class="mb-3">
            <label for="decriptionInput" class="form-label">decription</label>
            <textarea class="form-control" id="nameInput" aria-describedby="textHelp" rows="1" name="decription"></textarea>
        </div>
        <div class="mb-3">
            <label for="imageInput" class="form-label">image</label>
            <textarea class="form-control" id="imageInput" aria-describedby="textHelp" rows="1" name="image"></textarea>
        </div>
        <div class="mb-3">
            <label for="contentInput" class="form-label">content</label>
           <textarea class="form-control" id="nameInput" aria-describedby="textHelp" rows="15" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>